@{
    ViewData["Title"] = "Статистика";
}





<head>
    <link rel="stylesheet" href="~/css/Statistic.css" />
    
</head>

<h1>@ViewData["Title"]</h1>

<h2>Количество заказов</h2>

<div class="count">
    <div class="container">
        <div class="count__row">
            <div class="count__daily card-stat">
                <p class="count__title-card">В день</p>
                <p>Количество заказов: <span>@ViewBag.countDay</span></p>
            </div>
            <div class="count__weekly card-stat">
                <p class="count__title-card">В неделю</p>
                <p>Количество заказов: <span>@ViewBag.countWeek</span></p>
            </div>

            <div class="count__monthly card-stat">
                <p class="count__title-card">В месяц</p>
                <p>Количество заказов: <span>@ViewBag.countMonth</span></p>
            </div>

            <div class="count__early card-stat">
                <p class="count__title-card">В год</p>
                <p>Количество заказов: <span>@ViewBag.count</span></p>
            </div>
        </div>
    </div>
</div>

<h2>Заработанные деньги <span id="changeMonth">@ViewBag.testmonth</span></h2>

<div class="sum">
    <div class="container">
        <div class="sum__row">
            <div class="sum__daily card-stat">
                <p class="sum__title-card"> В день</p>
                <p>Сумма заказов: <span>@ViewBag.sumDay</span></p>
            </div>
            <div class="sum__weekly card-stat">
                <p class="sum__title-card">В Неделю</p>
                <p>Сумма заказов: <span>@ViewBag.sumWeek</span></p>
            </div>
            <div class="sum__monthly card-stat">
              
                    <div class="dropdown">

                        <button class="sum__title-card dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            В месяц
                        </button>
                        <div class="dropdown-menu change-month" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="submit"  onclick="getInfo(1);" >Январь</button>
                            <button class="dropdown-item" type="submit"  onclick="getInfo(2);">Февраль</button>
                            <button class="dropdown-item" type="submit"  onclick="getInfo(3);">Март</button>
                            <button class="dropdown-item" type="submit"  onclick="getInfo(4);">Апрель</button>
                            <button class="dropdown-item" type="submit"  onclick="getInfo(5);">Май</button>
                            <button class="dropdown-item" type="submit"  onclick="getInfo(6);">Июнь</button>
                            <button class="dropdown-item" type="submit"  onclick="getInfo(7);">Май</button>
                            <button class="dropdown-item" type="submit"  onclick="getInfo(8);">Август</button>
                            <button class="dropdown-item" type="submit"  onclick="getInfo(9);">Август</button>
                            <button class="dropdown-item" type="submit"  onclick="getInfo(10);">Август</button>
                            <button class="dropdown-item" type="submit"  onclick="getInfo(11);">Ноябрь</button>
                            <button class="dropdown-item" type="submit"  onclick="getInfo(12);">Декабрь</button>
                        </div>
                    </div>
                
                <p >Сумма заказов: <span id="result"></span></p>
            </div>
            <div class="sum__early card-stat">
                <p class="sum__title-card">В год</p>
                <p>Сумма заказов: <span>@ViewBag.sum</span></p>
                
            </div>
        </div>
    </div>
</div>

<div class="statistic-grafic">
    <div class="container">
        <h2>Статистика заработанных денег</h2>
        <div class="statistic-grafic__month">
            <div class="statistic-grafic__title-graf"></div>
            <div class="statistic-grafic__body" id="testing" >
                <input type="hidden" id="statistic-grafic-month" value="@ViewBag.testmonth" />
                <canvas id="myChart" ></canvas>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.0/dist/chart.min.js"></script>

