@model Learn_web.Models.Order

@{
    ViewData["Title"] = "Удалить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удалить запись</h1>

<h3>Вы уверены что хотите удалить эту запись?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clientData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clientData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.originalLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.originalLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.translateLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.translateLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costOfWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costOfWork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costOfTranslationServices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costOfTranslationServices)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Translator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Translator)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
