@using Learn_web.Controllers

@model IEnumerable<Order>



@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center" id="operationTitle">Операции</h1>

<div>
    <p>
        Погода <a href="https://yandex.ru/pogoda/yekaterinburg?via=hl"> Яндекс погода</a>
    </p>
    <p>@ViewBag.temperature </p>
</div>

<div>
    <a asp-controller="home" asp-action="Create">Создать запись</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.id)</th>
            <th>@Html.DisplayNameFor(i => i.dateOrder)</th>
            <th>@Html.DisplayNameFor(i => i.clientData)</th>
            <th>@Html.DisplayNameFor(i => i.originalLanguage)</th>
            <th>@Html.DisplayNameFor(i => i.translateLanguage)</th>
            <th>@Html.DisplayNameFor(i => i.costOfWork)</th>
            <th>@Html.DisplayNameFor(i => i.Translator)</th>
            <th>@Html.DisplayNameFor(i => i.costOfTranslationServices)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.id</th>
                @*<td>@item.id</td>*@
                <td>@item.dateOrder</td>
                <td>@item.clientData</td>
                <td>@item.originalLanguage</td>
                <td>@item.translateLanguage</td>
                <td>
                    @item.costOfWork @if (item.costOfWork != null)
                {<span>руб</span>}
                </td>
                <td>@item.Translator</td>
                <td>
                    @item.costOfTranslationServices @if (item.costOfTranslationServices != null)
                {<span>руб</span>}
                </td>

                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Update", "Home", new { id= item.id})'">Обновить</button>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#confirm-delete">Удалить</button>
                    </div>
                    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Вы действительно ходите удалить эту запись
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Home", new { id= item.id})'">
                                        Удалить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>


<div class="container">

    <p>Сумма заработанная на данный момент: @ViewBag.sum рублей</p>
</div>




@*<span class="buttons">
    <a asp-controller="home" asp-action="Update" asp-route-id="@item.id">Edit</a>
</span>
<span class="buttons">
    <a asp-controller="home" asp-action="Delete" asp-route-id="@item.id" data-toggle="modal" data-target="#confirm-delete">Delete</a>
</span>*@









