@using Learn_web.Controllers
@using Learn_web.Models

@model IEnumerable<Order>



@{
    ViewData["Title"] = "Учет и контроль доходов";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    

</head>

<h3 class="text-center">Список заказов</h3>


<div style="margin-bottom: 20px">
            <p style="margin:1px 1px 1px 1px">Погода в городе @ViewBag.temperature.Name</p>
            <p style="margin:1px 1px 1px 1px">Температура на данный момент: @ViewBag.temperature.Main.Temp гр</p>
            <p style="margin:1px 1px 1px 1px">Ощущается как: @ViewBag.temperature.Main.feels_like гр</p>
            <p style="margin:1px 1px 1px 1px">Минимальная температура: @ViewBag.temperature.Main.Temp_min гр</p>
            <p style="margin:1px 1px 1px 1px">Максимальная температура: @ViewBag.temperature.Main.Temp_max гр</p>
</div>

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Home")'">Создать запись</button>
    <a asp-controller="home" asp-action="Create">Создать запись</a>
</div>



<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(i => i.dateOrder)</th>
            <th>@Html.DisplayNameFor(i => i.clientData)</th>
            <th>@Html.DisplayNameFor(i => i.originalLanguage)</th>
            <th>@Html.DisplayNameFor(i => i.translateLanguage)</th>
            <th>@Html.DisplayNameFor(i => i.costOfWork)</th>
            <th>@Html.DisplayNameFor(i => i.Translator)</th>
            <th>@Html.DisplayNameFor(i => i.costOfTranslationServices)</th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.dateOrder.ToString("dd.MM.yyyy")</td>
                <td>@item.clientData</td>
                <td>@item.originalLanguage</td>
                <td>@item.translateLanguage</td>
                <td>
                    @item.costOfWork <span>руб</span>
                </td>
                <td>@item.Translator</td>
                <td>
                    @item.costOfTranslationServices @if (item.costOfTranslationServices != null)
                    {<span>руб</span>}
                </td>

                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#Detail">Детально</button>
                        <button type="button" class="btn btn-outline-info" onclick="location.href='@Url.Action("Update", "Home", new { id= item.id})'">Обновить</button>
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#confirm-delete">Удалить</button>

                    </div>
                    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            @await Html.PartialAsync("_Delete", item);
                        </div>
                    </div>
                    <div class="modal fade" id="Detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            @await Html.PartialAsync("_Detail", item);
                        </div>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>


<div>

    <p>Сумма заработанная на данный момент: @ViewBag.sum рублей</p>
</div>

<div>
    <p>Выберите периода за который необходимо преставить информацию</p>
    <form asp-controller="home" asp-action="PeriodSelection" method="post">
        <input type="text" name="firstDate" value="" />
        <input type="text" name="secondDate" value="" />
        <input type="submit"  value="Сформировать отчет" />
    </form>
</div>















