
@using Learn_web.Models
@using System.Security.Claims
@using Learn_web.ViewModels;


@*@model IEnumerable<Order>*@
@model IndexViewModel


@{
    ViewData["Title"] = "Учет и контроль доходов";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/StyleIndex.css" />
</head>



<h1>Система учета заказов</h1>


<div class="admin">
    <div class="container">
        <div class="admin__row">
            <div class="admin__open">
                @if (User.FindFirst(i => i.Type == ClaimTypes.Role).Value == "Admin")
                {

                    <a asp-controller="admin" asp-action="index">Открыть панель администратора </a>
                }

            </div>
        </div>
    </div>
</div>



<div class="weather">
    <div class="container">
        <div class="weather__row">
            <div class="weather__text">
                <p>Погода в Екатеринбурге: <span> @Model.getWeather.Main.Temp</span></p>
                <p>Ощущается как: <span>@Model.getWeather.Main.feels_like</span></p>
                <p>Влажность: <span>@Model.getWeather.Main.humidity%</span></p>
                <p>Минимальная температура: <span>@Model.getWeather.Main.temp_min</span></p>
                <p>Максимальная температура: <span>@Model.getWeather.Main.temp_max</span></p>
            </div>
            <div class="weather__image">
                @{
                    switch (@Model.getWeather.weather[0].main)
                    {
                        case "Clear": <img src="~/images/weather_icons_dovora_interactive/PNG/128/day_clear.png" alt="Weather icon" height="70" />; break;
                        case "Clouds": <img src="~/images/weather_icons_dovora_interactive/PNG/128/day_partial_cloud.png" alt="Weather icon" height="70" />; break;
                        case "Snow": <img src="~/images/weather_icons_dovora_interactive/PNG/128/day_snow.png" alt="Weather icon" height="70" />; break;
                        default: break;
                    }
                }
            </div>
        </div>
    </div>
</div>


<div class="create">
    <div class="container">
        <div class="create__row">
            <div class="create__new-item">
                <a asp-controller="home" asp-action="Create">Создать запись</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <form class="form" asp-controller="home" asp-action="Index" id="search">
        <div class="input-group mb-0">
            <button class="btn btn-primary" type="button" id="button-addon1">Поиск</button>
            <input type="text" class="form-control" placeholder="Поиск по данным клиента" name="search" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
    </form>
</div>

<div class="scroll-table">
    <div class="container">
        <table class="table table-hover" id="table1">
            <thead>
                <tr>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.SortViewModel.dateOrderSort">@Html.DisplayNameFor(i => i.Orders.FirstOrDefault().dateOrder)</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.SortViewModel.clientDataSort">@Html.DisplayNameFor(i => i.Orders.FirstOrDefault().clientData)</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.SortViewModel.originalLanguageSort">@Html.DisplayNameFor(i => i.Orders.FirstOrDefault().originalLanguage)</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.SortViewModel.translateLanguageSort">@Html.DisplayNameFor(i => i.Orders.FirstOrDefault().translateLanguage)</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.SortViewModel.costOfWorkSort">@Html.DisplayNameFor(i => i.Orders.FirstOrDefault().costOfWork)</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.SortViewModel.TranslatorSort">@Html.DisplayNameFor(i => i.Orders.FirstOrDefault().Translator)</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.SortViewModel.costOfTranslationServicesSort">@Html.DisplayNameFor(i => i.Orders.FirstOrDefault().costOfTranslationServices)</a></th>
                    <th>Производимые операции</th>
                </tr>

            </thead>
            <tbody>

                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>@item.dateOrder.ToString("dd.MM.yyyy")</td>
                        <td>@item.clientData</td>
                        <td>@item.originalLanguage</td>
                        <td>@item.translateLanguage</td>
                        <td>
                            @item.costOfWork <span>руб</span>
                        </td>
                        <td>@item.Translator</td>
                        <td>
                            @item.costOfTranslationServices @if (item.costOfTranslationServices != null)
                            {<span>руб</span>}
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">

                                @*<button onclick="showInPopup('@Url.Action("PatritialDetail", "Home", new { id = item.id }, Context.Request.Scheme)', 'Детально')"
                                        class="btn btn-outline-info" type="submit">
                                    Детально modal
                                </button>
                                <button onclick="showInPopup('@Url.Action("PartialDelete", "Home", new { id = item.id }, Context.Request.Scheme)', 'Вы уверены что хотите удалить эту запись?')"
                                        class="btn btn-outline-info" type="submit">
                                    Delete Modal
                                </button>*@
                                <button type="button" class="btn btn-outline-info" onclick="showInPopup('@Url.Action("PatritialDetail", "Home", new { id = item.id }, Context.Request.Scheme)', 'Детально')">Детально</button>
                                <button type="button" class="btn btn-outline-info" onclick="location.href='@Url.Action("Update", "Home", new { id = item.id })'">Обновить</button>
                                <button type="button" class="btn btn-outline-danger" onclick="showInPopup('@Url.Action("PartialDelete", "Home", new { id = item.id }, Context.Request.Scheme)', 'Вы уверены что хотите удалить эту запись?')">Удалить</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="pagination-item">
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    @if (Model.pageViewModel.HasPreviousPage)
                    {
                        <a asp-action="Index"
                           asp-route-page="@(Model.pageViewModel.PageNumber - 1)" asp-route-sortOrder="@Model.SortViewModel.current" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Назад</span>
                        </a>
                    }
                </li>
                @for (int i = 1; i <= Model.pageViewModel.TotalPages; i++)
                {
                    <li class="page-item">
                        <a asp-action="Index"
                           asp-route-page="@i" asp-route-sortOrder="@Model.SortViewModel.current" class="page-link">@i</a>
                    </li>
                }
                <li class="page-item">
                    @if (Model.pageViewModel.HasNextPage)
                    {
                        <a asp-action="Index"
                           asp-route-page="@(Model.pageViewModel.PageNumber + 1)" asp-route-sortOrder="@Model.SortViewModel.current" class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Вперед</span>
                        </a>
                    }
                </li>
            </ul>
        </nav>
    </div>
</div>


<div class="summ">
    <div class="container">
        <div class="summ__row">
            <div class="summ__value">
                Сумма заработанная на данный момент: @Model.sum рублей
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Инициализация модального окна PeriodSelection -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PeriodSelection">
        Выбор периода
    </button>
</div>



<!-- Modal выбор периода -->
<div class="modal" id="PeriodSelection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Выбор периода</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Выберите период за который должна отображаться информация о заказах</p>
                <form asp-controller="home" asp-action="PeriodSelection" method="post">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Начало периода</label>
                        <input type="date" class="form-control" id="formGroupExampleInput" name="firstDate">

                        <label for="formGroupExampleInput2">Окончание периода</label>
                        <input type="date" class="form-control" id="formGroupExampleInput2" name="seccondDate">
                        <button type="submit" class="btn btn-primary mb-2 mt-3">Отобразить</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" ></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>





















