@model Learn_web.Models.Order



<style>
    #modDialog {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        
    }

    .detail dd{
        padding-left: 10px;
    }
</style>



<div class="detail">
    <div>
        <hr />
        <dl >
            <dt >
                @Html.DisplayNameFor(model => model.dateOrder)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.dateOrder)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.clientData)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.clientData)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.originalLanguage)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.originalLanguage)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.translateLanguage)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.translateLanguage)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.costOfWork)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.costOfWork)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.costOfTranslationServices)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.costOfTranslationServices)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.Translator)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Translator)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.path)
            </dt>
            <dd >
                @{
                    if (Model.path != null)
                    {
                        <div>
                            <span style="margin-right:10px;">@Model.path</span><button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Download", "Home", new { path = Model.path})'">Скачать документ</button>
                        </div>
                    }
                }
            </dd>
        </dl>


    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
    <a asp-action="Update" asp-controller="Home" asp-route-id="@Model.id" type="button" class="btn btn-primary">Редактировать</a>
</div>


