@{
    ViewData["Title"] = "Статистика";
}

<head>
    <link rel="stylesheet" href="~/css/Statistic.css" />
</head>

<h1>@ViewData["Title"]</h1>

<h2>Количество заказов</h2>

<div class="count">
    <div class="container">
        <div class="count__row">
            <div class="count__daily card-stat">
                <p class="count__title-card">В день</p>
                <p>Количество заказов: <span>@ViewBag.countDay</span></p>
            </div>
            <div class="count__weekly card-stat">
                <p class="count__title-card">В неделю</p>
                <p>Количество заказов: <span>@ViewBag.countWeek</span></p>
            </div>

            <div class="count__monthly card-stat">
                <p class="count__title-card">В месяц</p>
                <p>Количество заказов: <span>@ViewBag.countMonth</span></p>
            </div>

            <div class="count__early card-stat">
                <p class="count__title-card">В год</p>
                <p>Количество заказов: <span>@ViewBag.count</span></p>
            </div>
        </div>
    </div>
</div>

<h2>Заработанные деньги</h2>

<div class="sum">
    <div class="container">
        <div class="sum__row">
            <div class="sum__daily card-stat">
                <p class="sum__title-card"> В день</p>
                <p>Сумма заказов: <span>@ViewBag.sumDay</span></p>
            </div>
            <div class="sum__weekly card-stat">
                <p class="sum__title-card">В Неделю</p>
                <p>Сумма заказов: <span>@ViewBag.sumWeek</span></p>
            </div>
            <div class="sum__monthly card-stat">
                <p class="sum__title-card">В месяц</p>
                <p>Сумма заказов: <span>@ViewBag.sumMonth</span></p>
            </div>
            <div class="sum__early card-stat">
                <p class="sum__title-card">В год</p>
                <p>Сумма заказов: <span>@ViewBag.sum</span></p>
            </div>
        </div>
    </div>
</div>
